<div class="mb-10">
  <div class="flex items-center justify-between">
    <div>
      <h1 class="text-3xl font-bold">Cập nhật tài khoản</h1>
    </div>
    <div>
      <a
        routerLink="/admin/account"
        class="block px-5 py-3 text-white bg-blue-500 rounded-lg hover:bg-blue-400"
        >Danh sách tài khoản</a
      >
    </div>
  </div>
</div>
<div>
  <div class="">
    <form [formGroup]="userForm" (ngSubmit)="onHandleSubmit()">
      <div class="form-layout">
        <div class="form-group">
          <label for="productName">fullname</label>
          <input
            type="text"
            formControlName="fullname"
            placeholder="fullname"
            class="w-full px-3 py-4 border rounded-lg outline-none bg-slate-200 focus:bg-white focus:border-red-400"
          />
        </div>
        <div class="form-group">
          <label for="productName">Avatar</label>
          <input
            type="text"
            formControlName="avatar"
            placeholder="avatar"
            class="w-full px-3 py-4 border rounded-lg outline-none bg-slate-200 focus:bg-white focus:border-red-400"
          />
        </div>
        <div class="form-group">
          <label for="productName">email</label>
          <input
            type="text"
            formControlName="email"
            placeholder="email"
            class="w-full px-3 py-4 border rounded-lg outline-none bg-slate-200 focus:bg-white focus:border-red-400"
          />
        </div>

        <div class="form-group">
          <label for="productName">status</label>
          <input
            type="status"
            formControlName="status"
            placeholder="status"
            class="w-full px-3 py-4 border rounded-lg outline-none bg-slate-200 focus:bg-white focus:border-red-400"
          />
        </div>
      </div>
      <button
        type="submit"
        [disabled]="!userForm.valid"
        class="w-[250px] bg-green-500 font-medium text-xl text-white mt-5 rounded-lg py-5 h-[60px] flex items-center justify-center mx-auto"
      >
        Cập nhật user
      </button>
    </form>
  </div>
</div>
