<div class="bg-secondary">
  <div class="container mt-3 flex gap-x-5 h-[500px]">
    <div class="w-4/5">
      <owl-carousel-o #carousel [options]="customOptions">
        <ng-template
          carouselSlide
          *ngFor="let slide of sliders"
          class="w-full h-[500px]"
          ><img
            src="{{ slide.image }}"
            alt=""
            class="w-full h-[500px] object-cover"
        /></ng-template>
      </owl-carousel-o>
    </div>
    <div
      class="flex h-full bg-secondary flex-col justify-between max-md:mt-2 max-md:grid max-md:h-[134px] max-md:w-full max-md:grid-cols-2 max-md:items-start max-md:gap-x-2 max-md:overflow-hidden md:col-span-1"
    >
      <a
        href="https://didongviet.vn/dien-thoai/iphone-13-128gb.html"
        class="h-[132px] w-full overflow-hidden rounded max-md:col-span-1 mb-0 max-md:h-[133px]"
        style="position: relative; width: 100%"
        ><img
          src="https://cdn-v2.didongviet.vn/files/banners/2023/4/30/1/1685399193725_top_right_398x252_copy_3.jpg"
          alt="RIGHT - IPHONE 13"
          class="h-[132px] md:object-cover max-md:h-[133px]"
          style="object-fit: fill; width: 100%" /></a
      ><a
        href="https://didongviet.vn/samsung-galaxy-z.html"
        class="h-[132px] w-full overflow-hidden rounded max-md:col-span-1 mb-0 max-md:h-[133px]"
        style="position: relative; width: 100%"
        ><img
          src="https://cdn-v2.didongviet.vn/files/banners/2023/4/30/1/1685399203707_top_right_398x252_copy_4.jpg"
          alt="Right - s23"
          class="h-[132px] md:object-cover max-md:h-[133px]"
          style="object-fit: fill; width: 100%"
      /></a>
    </div>
  </div>
</div>
