<div class="container mt-10 mb-10 max-w-md mx-auto xl:max-w-7xl h-full flex bg-white rounded-lg shadow overflow-hidden"
>
<div class="relative hidden xl:block xl:w-1/2 h-full">
  <img
    class="absolute h-auto w-full object-cover"
    src="https://images.unsplash.com/photo-1541233349642-6e425fe6190e"
    height="500px" alt="my zomato"
  />
</div>
<div class="w-full xl:w-1/2 mb-5 ml-10">
  <form method="post" action="#" onSubmit="return false">
    <h1 class=" text-2xl font-bold flex justify-center mb-4">Liên Hệ Với Chúng Tôi</h1>
    
    <div class="mb-4 mt-6">
      <label
        class="block text-gray-700 text-sm font-semibold mb-2"
        htmlFor="name"
      >
        HỌ VÀ TÊN*
      </label>
      <input
        class="text-sm appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-200 leading-tight focus:outline-none focus:shadow-outline h-10"
        id="name"
        type="text"
        placeholder="Vui lòng nhập Họ Và Tên"
      />
    </div>
    <div class="mb-4 mt-6">
      <label
        class="block text-gray-700 text-sm font-semibold mb-2"
        htmlFor="email"
      >
        EMAIL*
      </label>
      <input
        class="text-sm appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-200 leading-tight focus:outline-none focus:shadow-outline h-10"
        id="email"
        type="email"
        placeholder="Vui lòng nhập Email"
      />
    </div>
    <div class="mb-6 mt-6">
      <label
        class="block text-gray-700 text-sm font-semibold mb-2"
        htmlFor="phone"
      >
        ĐIỆN THOẠI*
      </label>
      <input
        class="text-sm bg-gray-200 appearance-none rounded w-full py-2 px-3 text-gray-700 mb-1 leading-tight focus:outline-none focus:shadow-outline h-10"
        id="phone"
        type="phone"
        placeholder="Vui lòng nhập số điện thoại"
      />
      <a
        class="inline-block align-baseline text-sm text-gray-600 hover:text-gray-800"
        href="/forgot"
      >
      </a>
    </div>
    <div class="mb-5">
      <label
        for="message"
        class="mb-3 block text-base font-medium text-[#07074D]"
      >
        NỘI DUNG*
      </label>
      <textarea
        rows="4"
        name="message"
        id="message"
        placeholder="Vui lòng nhập Nội Dung Liên Hệ"
        class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
      ></textarea>
    </div>
    <div>
      <button
        class="hover:shadow-form rounded-md bg-[#CB4B57] py-3 px-8 text-base font-semibold text-white outline-none"
      >
        GỬI TIN NHẮN
      </button>
    </div>
  </form>
</div>
</div>