<div class="bg-secondary">
  <div class="container pt-5 rounded-md">
    <div class="p-5 bg-white">
      <div class="my-5">
        <h1 class="text-3xl font-bold text-primary">Oppo | Xiaomi Chính Hãng</h1>
      </div>
      <div class="grid grid-cols-5 gap-4">
        <div
          *ngFor="let product of products"
          class="flex flex-col h-full p-4 border rounded-md border-slate-200 gap-y-5"
        >
          <div class="">
            <a [routerLink]="['/product', product.slug]">
              <img
                src="{{ product.image }}"
                alt="{{ product.productName }}"
                class="transition duration-200 ease-in-out hover:scale-105 md:h-[250px] md:w-[250px]"
              />
            </a>
          </div>
          <div class="flex flex-col gap-y-3">
            <h3>
              <a [routerLink]="['/product', product.slug]">{{
                product.productName
              }}</a>
            </h3>
            <p class="flex items-center justify-between">
              <span class="font-semibold text-red-500"
                >{{ formatPrice(product.price) }} đ</span
              >
              <span class="text-sm text-gray-500"
                >{{ product.review_count }} đánh giá</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
