<!-- -----------------------------------------CONTENT -->
<section class="box">
  <div class="title flex align-center">
    <h1 class="font-bold text-[30px]">Add Category</h1>
    <form class="ml-6">
      <input type="text" class="border px-3 py-2 rounded-md outline-none" placeholder="Mời bạn nhập project muốn tìm">
      <button class="bg-blue-500 px-3 py-2 rounded-md text-white hover:bg-blue-600 deley-100">Search</button>
    </form>
  </div>
  <form>
    <div>
      <label for="">Id</label>
      <input type="text" class="w-full py-4 px-3 outline-none rounded-md shadow-md mb-4" placeholder="Id" disabled>
    </div>
    <div>
      <label for="">Tên Loại</label>
      <input type="text" class="w-full py-4 px-3 outline-none rounded-md shadow-md mb-4" placeholder="Tên Loại">
    </div>
  </form>
  <form>
    <button class="bg-red-500 px-3 py-2 rounded-md text-white hover:bg-red-600 deley-100">Nhập
      lại</button>
    <a class="bg-green-500 px-3 py-2 rounded-md text-white hover:bg-green-600 deley-100"
      href="./category-list.html">Danh sách</a>
    <button class="bg-blue-500 px-3 py-2 rounded-md text-white hover:bg-blue-600 deley-100">Thêm</button>
  </form>
</section>