<form action="" [formGroup]="userForm" (ngSubmit)="onHandleSignin()">
  <div class="form-layout">
    <div class="form-group">
      <label for="Email">*Email</label>
      <input type="text" formControlName="email" placeholder="Email"
        class="w-full px-3 py-4 border rounded-lg outline-none bg-slate-200 focus:bg-white focus:border-red-400" />
    </div>
    <div class="form-group">
      <label for="Password">*Password</label>
      <input type="text" formControlName="password" placeholder="Password"
        class="w-full px-3 py-4 border rounded-lg outline-none bg-slate-200 focus:bg-white focus:border-red-400" />
    </div>
  </div>
  <button type="submit" [disabled]="!userForm.valid"
    class="w-[250px] bg-green-500 font-medium text-xl text-white mt-5 rounded-lg py-5 h-[60px] flex items-center justify-center mx-auto">
    Login
  </button>
</form>