<section class="bg-white text-black pt-6">
    <div class="container px-6 py-8 mx-auto">
        <div class="lg:flex lg:-mx-2">
            <div class="space-y-3 lg:w-1/5 lg:px-2 lg:space-y-4 mt-10">
                <a href="#" class="block font-medium   hover:underline">iPhone VN/A Chính Thống </a>
                <a href="#" class="block font-medium   hover:underline">Samsung Chính Hãng </a>
                <a href="#" class="block font-medium text-blue-600 dark:text-blue-500 hover:underline">Oppo | Xiaomi Chính Hãng</a>
                <a href="#" class="block font-medium   hover:underline">MacBook & Tablet</a>
                <a href="#" class="block font-medium   hover:underline"> Phụ kiện Apple chính hãng chính thống</a>
                <a href="#" class="block font-medium   hover:underline">Phụ kiện Pin - Cáp sạc - Ốp lưng</a>
                <a href="#" class="block font-medium   hover:underline">Đồng hồ thông minh</a>
                <a href="#" class="block font-medium   hover:underline">Âm thanh</a>
            </div>

            <div class="mt-6 lg:mt-0 lg:px-2 lg:w-4/5 ">
                <div class="flex items-center justify-between text-sm tracking-widest uppercase ">
                    <p class=" ">6 Items</p>
                    <h2 class="font-semibold text-[25px]">Tất Cả Sản Phẩm</h2>
                    <div class="flex items-center">
                        <p class=" ">Sort</p>
                        <select class="font-medium text-gray-700 bg-transparent dark: focus:outline-none">
                            <option value="#">Recommended</option>
                            <option value="#">Size</option>
                            <option value="#">Price</option>
                        </select>
                    </div>
                </div>

                <div class="grid grid-cols-1 gap-8 mt-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                        <div class="flex flex-col h-full p-4 border rounded-md border-slate-200 gap-y-5"
                        >
                          <div class="">
                            <a>
                              <img
                                src="https://cdn-v2.didongviet.vn/files/products/2023/4/10/1/1683732400888_xiaomi_redmi_note_12s_green_didongviet_thumb_min.jpg"
                                alt=""
                                class="transition duration-200 ease-in-out hover:scale-105 md:h-[250px] md:w-[250px]"
                              />
                            </a>
                          </div>
                          <div class="flex flex-col gap-y-3">
                            <h3>
                              <a>iPhone 8 64GB (Cũ)</a>
                            </h3>
                            <p class="flex items-center justify-between">
                              <span class="font-semibold text-red-500"
                                >3.590.000 đ</span
                              >
                              <span class="text-sm text-gray-500"
                                >0 đánh giá</span
                              >
                            </p>
                          </div>
                        </div>

                        <div class="flex flex-col h-full p-4 border rounded-md border-slate-200 gap-y-5"
                        >
                          <div class="">
                            <a>
                              <img
                                src="https://cdn-v2.didongviet.vn/files/products/2023/4/10/1/1683732400888_xiaomi_redmi_note_12s_green_didongviet_thumb_min.jpg"
                                alt=""
                                class="transition duration-200 ease-in-out hover:scale-105 md:h-[250px] md:w-[250px]"
                              />
                            </a>
                          </div>
                          <div class="flex flex-col gap-y-3">
                            <h3>
                              <a>iPhone 8 64GB (Cũ)</a>
                            </h3>
                            <p class="flex items-center justify-between">
                              <span class="font-semibold text-red-500"
                                >3.590.000 đ</span
                              >
                              <span class="text-sm text-gray-500"
                                >0 đánh giá</span
                              >
                            </p>
                          </div>
                        </div>

                        <div class="flex flex-col h-full p-4 border rounded-md border-slate-200 gap-y-5"
                        >
                          <div class="">
                            <a>
                              <img
                                src="https://cdn-v2.didongviet.vn/files/products/2023/4/10/1/1683732400888_xiaomi_redmi_note_12s_green_didongviet_thumb_min.jpg"
                                alt=""
                                class="transition duration-200 ease-in-out hover:scale-105 md:h-[250px] md:w-[250px]"
                              />
                            </a>
                          </div>
                          <div class="flex flex-col gap-y-3">
                            <h3>
                              <a>iPhone 8 64GB (Cũ)</a>
                            </h3>
                            <p class="flex items-center justify-between">
                              <span class="font-semibold text-red-500"
                                >3.590.000 đ</span
                              >
                              <span class="text-sm text-gray-500"
                                >0 đánh giá</span
                              >
                            </p>
                          </div>
                        </div>

                        <div class="flex flex-col h-full p-4 border rounded-md border-slate-200 gap-y-5"
                        >
                          <div class="">
                            <a>
                              <img
                                src="https://cdn-v2.didongviet.vn/files/products/2023/4/10/1/1683732400888_xiaomi_redmi_note_12s_green_didongviet_thumb_min.jpg"
                                alt=""
                                class="transition duration-200 ease-in-out hover:scale-105 md:h-[250px] md:w-[250px]"
                              />
                            </a>
                          </div>
                          <div class="flex flex-col gap-y-3">
                            <h3>
                              <a>iPhone 8 64GB (Cũ)</a>
                            </h3>
                            <p class="flex items-center justify-between">
                              <span class="font-semibold text-red-500"
                                >3.590.000 đ</span
                              >
                              <span class="text-sm text-gray-500"
                                >0 đánh giá</span
                              >
                            </p>
                          </div>
                        </div>
                </div>
                
            </div>
        </div>
    </div>
</section>