<!-- -----------------------------------------CONTENT -->
<section class="box">
  <div class="title flex align-center">
    <h1 class="font-bold text-[30px] ">List Projects</h1>
    <form class="ml-6">
      <input type="text" class="border px-3 py-2 rounded-md outline-none" placeholder="Mời bạn nhập project muốn tìm">
      <button class="bg-blue-500 px-3 py-2 rounded-md text-white hover:bg-blue-600 deley-100">Search</button>
    </form>
  </div>
  <table class="border w-full mb-4">
    <thead>
      <tr class="border bg-indigo-300 text-[18px] ">
        <th class="border py-4">Id</th>
        <th class="border">Tên Project</th>
        <th class="border ">Giá Project</th>
        <th class="border ">Mô tả</th>
        <th class="border"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="py-4 text-[18px]">
        <td class="border text-center py-3">1</td>
        <td class="border px-5 ">Dự án 1</td>
        <td class="border text-center ">20000 đ</td>
        <td class="border px-5 ">Chất</td>
        <td class="border text-center">
          <a class="bg-red-500 px-3 py-2 rounded-md text-white hover:bg-red-600 deley-100" href="">Xóa</a>
          <a class="bg-green-500 px-3 py-2 rounded-md text-white hover:bg-green-600 deley-100" href="">Sửa</a>
        </td>
      </tr>
    </tbody>
  </table>
  <form>
    <a routerLink="/admin/product/add"
      class="bg-slate-500 px-3 py-2 rounded-md text-white hover:bg-slate-600 deley-100">Thêm mới</a>
  </form>
</section>