<header class="bg-primary">
  <div class="container">
    <div class="flex items-center justify-between py-2">
      <div class="w-1/5">
        <a routerLink=""
          ><img
            src="https://didongviet.vn/svg/Header/logowhite.svg"
            class=""
            alt=""
        /></a>
      </div>
      <div class="w-full max-w-[500px]">
        <div
          class="flex items-center w-full border border-slate-300 rounded-xl"
        >
          <input
            type="text"
            placeholder="Tìm kiếm sản phẩm..."
            class="flex-1 w-full px-5 py-2 rounded-tl-xl rounded-bl-xl"
          />
          <span class="w-[80px] flex items-center justify-center cursor-pointer"
            ><i class="fa fa-search"></i
          ></span>
        </div>
      </div>
      <div class="flex items-center text-white gap-x-5">
        <div class="pr-5 border-r border-white">
          <a
            *ngIf="!user"
            routerLink="/signin"
            class="flex items-center gap-x-2"
            ><span>Đăng nhập</span> <span><i class="fa fa-user"></i></span
          ></a>
          <h2 *ngIf="user" class="flex items-center gap-x-3">
            <span>Xin chào:</span>
            <img
              src="{{ user?.avatar }}"
              class="w-[40px] h-[40px] object-cover rounded-full"
              alt=""
            />
            <span>{{ user?.fullname }}</span>
          </h2>
        </div>

        <div>
          <a routerLink="/cart" class="flex items-center gap-x-2">
            <span>Giỏ hàng</span>
            <span class="flex items-center gap-x-1"
              ><i class="fa-solid fa-cart-shopping"></i>
              <span>(0)</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
