<footer
  class="flex flex-col items-center justify-center w-full pt-5 text-left bg-white border-t border-gray-200 max-md:hidden"
>
  <div class="container">
    <div class="flex items-start justify-start w-full">
      <div class="w-1/4">
        <div class="flex flex-col">
          <p class="my-2 text-sm font-bold text-ddv">Hỗ trợ khách hàng</p>
          <a
            class="my-1 text-sm font-normal text-black hover:text-ddv"
            href="/cua-hang-gan-ban"
            >Danh sách cửa hàng</a
          ><a
            class="my-1 text-sm font-normal text-black hover:text-ddv"
            href="/mua-hang-tra-gop"
            >Mua hàng trả góp</a
          ><a
            class="my-1 text-sm font-normal text-black hover:text-ddv"
            href="/members"
            >Tra cứu điểm thành viên</a
          ><a
            class="my-1 text-sm font-normal text-black hover:text-ddv"
            href="https://didongviet.vn/dchannel/muc-tuyen-dung/"
            >Tuyển dụng mới nhất</a
          >
        </div>
      </div>
      <div class="w-1/4">
        <div class="flex flex-col">
          <p class="my-2 text-sm font-bold text-ddv">Chính sách</p>
          <a
            class="my-1 text-sm font-normal text-black hover:text-ddv"
            href="/chinh-sach-bao-hanh"
            >Chính sách bảo hành</a
          ><a
            class="my-1 text-sm font-normal text-black hover:text-ddv"
            href="/chinh-sach-doi-tra"
            >Chính sách đổi trả</a
          ><a
            class="my-1 text-sm font-normal text-black hover:text-ddv"
            href="/chinh-sach-ban-hang"
            >Chính sách bán hàng</a
          >
          <div
            class="flex items-center justify-start my-1 cursor-pointer hover:text-ddv"
          >
            <p class="text-sm font-normal text-black hover:text-ddv">
              Xem thêm<!-- -->
            </p>
            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-down"
              >
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div class="w-1/4">
        <div class="flex flex-col" style="width: 100%">
          <p class="my-2 text-sm font-bold text-ddv">Liên hệ</p>
          <div class="flex flex-col" style="width: 100%">
            <div
              class="flex items-center justify-between py-1"
              style="width: 90%"
            >
              <p class="font-medium text-14">Kỹ thuật:</p>
              <div class="flex items-center justify-end pl-4">
                <p class="font-bold text-16 text-link">
                  <a href="tel:18006018">1800.6018</a>
                </p>
                <p class="pl-2 font-normal text-black text-14">
                  (08:30 – 21:30)
                </p>
              </div>
            </div>
            <div
              class="flex items-center justify-between py-1"
              style="width: 90%"
            >
              <p class="font-medium text-14">Bảo hành:</p>
              <div class="flex items-center justify-end pl-4">
                <p class="font-bold text-16 text-link">
                  <a href="tel:18006729">1800.6729</a>
                </p>
                <p class="pl-2 font-normal text-black text-14">
                  (09:00 – 21:00)
                </p>
              </div>
            </div>
            <div
              class="flex items-center justify-between py-1"
              style="width: 90%"
            >
              <p class="font-medium text-14">Góp ý:</p>
              <div class="flex items-center justify-center pl-4">
                <p class="font-bold text-16 text-link">
                  <a href="tel:18006306">1800.6306</a>
                </p>
                <p class="pl-2 font-normal text-black text-14">
                  (08:30 – 21:30)
                </p>
              </div>
            </div>
            <div
              class="flex items-center justify-between py-1"
              style="width: 90%"
            >
              <p class="font-medium text-14">Gọi mua:</p>
              <div class="flex items-center justify-center pl-4">
                <p class="font-bold text-16 text-link">
                  <a href="tel:18006018">1800.6018</a>
                </p>
                <p class="pl-2 font-normal text-black text-14">
                  (07:30 – 21:30)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-1/4">
        <p class="my-2 text-sm font-bold text-ddv">Google map</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15677.000487264431!2d106.67451388715821!3d10.792145400000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528cc7f3e1091%3A0xa732f4f2d64e5189!2zRGkgxJDhu5luZyBWaeG7h3Q!5e0!3m2!1svi!2s!4v1685482618054!5m2!1svi!2s"
          width="300"
          height="200"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
    <div class="w-full h-px my-2 bg-ddv"></div>
  </div>
  <div class="flex items-center justify-center w-full p-2 bg-comment">
    <div class="container flex items-center justify-between">
      <div class="w-3/4">
        <p class="pr-2 text-black text-[10px]">
          Công Ty TNHH Công Nghệ Di Động Việt - 75/35 Nguyễn Cửu Vân, P.17, Q.
          Bình Thạnh, TP. Hồ Chí Minh. Mã số doanh nghiệp: 0312193244, ngày cấp:
          05/03/2021, nơi cấp: Sở kế hoạch và đầu tư thành phố Hồ Chí Minh
          MST:0312193244. Chủ sở hữu: Nguyễn Ngọc Đạt- Điện thoại: 1800.6018
          (miễn phí) - Email: lienhe@didongviet.vn - Bản quyền thuộc về Di Động
          Việt.
        </p>
      </div>
    </div>
  </div>
</footer>
