<div class="bg-secondary">
  <div class="container py-5">
    <div
      class="grid w-full grid-cols-6 gap-6 p-1 py-3 bg-white rounded-lg max-md:grid-cols-3"
    >
      <div class="col-span-1">
        <a
          href="https://thanhnien.vn/di-dong-viet.html"
          target="_blank"
          rel="nofollow"
        >
          <div
            class="h-[68px] w-full overflow-hidden rounded max-md:h-[45px]"
            style="position: relative; height: 68px"
          >
            <img
              src="https://cdn-v2.didongviet.vn/files/page/2022/6/1/0/thanh_niaan.svg"
              style="object-fit: contain; width: 100%"
              loading="lazy"
              class="h-[68px] max-md:h-[45px]"
              alt="Thanh niên"
            />
          </div>
        </a>
      </div>
      <div class="col-span-1">
        <a
          href="https://nghenhinvietnam.vn/tags/Di+%C4%90%E1%BB%99ng+Vi%E1%BB%87t"
          target="_blank"
          rel="dofollow"
        >
          <div
            class="h-[68px] w-full overflow-hidden rounded max-md:h-[45px]"
            style="position: relative; height: 68px"
          >
            <img
              src="https://cdn-v2.didongviet.vn/files/1657159167588-page/2022/6/7/0/frame_3902.png"
              style="object-fit: contain; width: 100%"
              loading="lazy"
              class="h-[68px] max-md:h-[45px]"
              alt="Việt Nam nghe nhìn"
            />
          </div>
        </a>
      </div>
      <div class="col-span-1">
        <a
          href="https://www.24h.com.vn/kham-pha-cong-nghe/vi-sao-di-dong-viet-gan-lien-voi-chuyen-giao-gia-tri-vuot-troi-c675a1460770.html"
          target="_blank"
          rel="nofollow"
        >
          <div
            class="h-[68px] w-full overflow-hidden rounded max-md:h-[45px]"
            style="position: relative; height: 68px"
          >
            <img
              src="https://cdn-v2.didongviet.vn/files/1657159207750-page/2022/6/7/0/24h.png"
              style="object-fit: contain; width: 100%"
              loading="lazy"
              class="h-[68px] max-md:h-[45px]"
              alt="24h"
            />
          </div>
        </a>
      </div>
      <div class="col-span-1">
        <a
          href="https://tgs.vn/tag/di-dong-viet/"
          target="_blank"
          rel="nofollow"
        >
          <div
            class="h-[68px] w-full overflow-hidden rounded max-md:h-[45px]"
            style="position: relative; height: 68px"
          >
            <img
              src="https://cdn-v2.didongviet.vn/files/1657159279375-page/2022/6/7/0/frame_3905.png"
              style="object-fit: contain; width: 100%"
              loading="lazy"
              class="h-[68px] max-md:h-[45px]"
              alt="Thế giới số"
            />
          </div>
        </a>
      </div>
      <div class="col-span-1">
        <a
          href="https://vnexpress.net/di-dong-viet-khai-truong-hai-cua-hang-dau-tien-o-mien-tay-4488367.html"
          target="_blank"
          rel="nofollow"
        >
          <div
            class="h-[68px] w-full overflow-hidden rounded max-md:h-[45px]"
            style="position: relative; height: 68px"
          >
            <img
              src="https://cdn-v2.didongviet.vn/files/1657159327616-page/2022/6/7/0/frame_3906.png"
              style="object-fit: contain; width: 100%"
              loading="lazy"
              class="h-[68px] max-md:h-[45px]"
              alt="Vnexpress"
            />
          </div>
        </a>
      </div>
      <div class="col-span-1">
        <a
          href="https://www.sggp.org.vn/di-dong-viet-tag122265.html"
          target="_blank"
          rel="nofollow"
        >
          <div
            class="h-[68px] w-full overflow-hidden rounded max-md:h-[45px]"
            style="position: relative; height: 68px"
          >
            <img
              src="https://cdn-v2.didongviet.vn/files/1657159421140-page/2022/6/7/0/frame_3903.png"
              style="object-fit: contain; width: 100%"
              loading="lazy"
              class="h-[68px] max-md:h-[45px]"
              alt="Sài Gòn"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
