@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}
.form-layout {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-x-10 mb-5 lg:mb-10;
}
// regular style toast
@import "ngx-toastr/toastr";

.form-group {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.table-wrapper {
  overflow-x: auto;
  background-color: white;
  border-radius: 10px;
}
table {
  width: 100%;
}
thead {
  background-color: #f7f7f8;
}
th,
td {
  vertical-align: middle;
}
th {
  padding: 20px 30px;
  font-weight: 600;
  text-align: left;
}
td {
  padding: 15px 30px;
  border-width: 1px;
}
.hidden-input {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.owl-prev,
.owl-next {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  font-size: 24px !important;
  color: white !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  padding: 10px !important;
}
.owl-next:hover,
.owl-prev:hover {
  background: #ffb35c !important;
}
.owl-prev {
  left: 10px;
}

.owl-next {
  right: 10px;
}
.dropdown:hover .menu-dropdown {
  display: block;
}
.menu-dropdown {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  display: none;
  font-size: 14px;
}
